<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fn-qualtrics-survey-dev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/011b349b-07ab-47ba-a602-bf4d86211929/resourceGroups/qualtrics-dev-rg/providers/Microsoft.Web/sites/fn-qualtrics-survey/slots/dev</ResourceId>
    <UserName>$fn-qualtrics-survey__dev</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://fn-qualtrics-survey-dev.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>